# ---> JupyterNotebooks
# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

*.o
*.lib
*.dll
*.a
*.so
*.exe

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

# misc
*.ipynb
__pycache__/
.vscode/